body.post-type-archive-event {

	section#image {
		height: 200px;

		@include tablet-portrait {
			height: 500px;
		}
	}

	section#description {
		background: $beige;
		padding: 80px 0;
		text-align: center;

		.wrapper {
			max-width: 740px;
		}

		h3 {
			color: $red;
			font-style: italic;
			padding: 0 0 20px 0;
			font-size: 1.25em;
		}

		p {
			font-size: 1.5em;
			line-height: 1.6em;
			margin: 0 0 35px 0;

			&:last-of-type {
				margin: 0;
			}
		}

	}

	section#entries {
		background: $tan;
		padding: 80px 0;
		width: 100%;
		float: left;


	}

}
