body.single-post,
body.single-event,
body.post-type-archive-event,
body.page-template-diary {

	article {

		.article-body.comparison {
			background: $dark-blue;
			color: $white;
			padding: 60px 0;

			.wrapper {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				max-width: 740px;
				border-bottom: none !important;
				padding-bottom: 0 !important;
				margin-bottom: 0 !important;


				.description {
					width: 100%;
					padding: 0 0 40px 0;

					h4 {
						font-style: italic;
						font-size: 1.25em;
						padding: 0 0 20px 0;
					}

					h3 {
						font-size: 2em;
						font-weight: bold;
						padding: 0 0 10px 0;
					}

					p {
						font-size: 1.125em;
						line-height: 1.5em;
						margin: 0;

						& + p {
							margin: 35px 0 0 0;
						}
					}
				}

				.assets {
					width: 100%;
					display: flex;
					justify-content: space-between;
				}

				.asset {
					width: 100%;
					max-width: 100%;
					border: none;
					padding: 0;

					@include mobile-landscape {
						width: 47.5%;
						margin: 0 0 20px 0;
					}

					.image {

						& > a {
							display: block;
							position: relative;
						}

						.expand {
							position: absolute;
							right: 20px;
							top: 20px;
							background: url(images/expand.png) no-repeat 0 0;
							background-size: 100%;
						}
					}


					.info {
						padding: 20px 0 0 0;

						h4 {
							font-size: 1.125em;
							line-height: 1.125em;
							padding: 0 0 10px 0;
						}

						p {
							font-family: $lato;
							font-size: 0.875em;
							line-height: 1.425em;
							margin: 0;
						}

						.read-more {
							display: inline-block;
							margin: 20px 0 0 0;
							color: $white;
							font-family: $lato;
							text-transform: uppercase;
							letter-spacing: 0.02em;
							text-decoration: none;
							font-size: 0.75em;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

	}
}


body.page-template-diary,
body.post-type-archive-event {

	article.comparison-diary {
		.article-body {
			.wrapper {
				margin-bottom: 0 !important;
				border-bottom: none;
			}
		}
	}

	.article-body.comparison {
		margin-bottom: 70px;
	}
}

