body#diary {

	section#image {
		height: 400px;

		@include tablet-portrait {
			height: 500px;
		}
	}

	section#chapters {
		background: $tan;
		padding: 80px 0;

		.wrapper {
			max-width: 740px;
		}

		article {
			border-bottom: 1px solid rgba(185, 46, 37, 0.2);
			padding: 0 0 60px 0;
			margin: 0 0 70px 0;

			.article-body {

				img {
					margin: 0 0 40px 0;
				}

				.btn {
					text-decoration: none;
				}
			}
		}

	}

}


body.page-template-diary,
body.page-template-artifacts,
body.post-type-archive-event {

	section#image {
		height: 200px;

		@include tablet-portrait {
			height: 500px;
		}
	}

	section#entries {
		background: $tan;
		padding: 80px 0;
		float: left;
		width: 100%;

		.wrapper {
			max-width: 740px;
		}

		article {
			

			width: 100%;
			float: left;

			.article-body .wrapper {
				padding: 0 25px 40px 25px;
				margin: 0 auto 70px auto;
				border-bottom: 1px solid rgba(185, 46, 37, 0.2);


				@include tablet-portrait {
					padding: 0 50px 40px 50px;
				}

				@include desktop {
					padding: 0 0 40px 0;
				}

			}

			.art {
				margin-bottom: 70px;
			}

			.article-body .wrapper > p:first-of-type:first-letter {
				font-size: 3.5em;
				line-height: 1em;
				font-weight: 400;
				float: left;
				margin: 0.2em 0.2em 0 0;
				color: $red;
				font-family: $baroque;
			}

			.article-body .wrapper > p + p:first-letter {
				font-size: 1em;
				line-height: 1.25em;
				float: none;
				margin: 0;
				color: $slate;
				font-family: $cardea;
			}

		}

	}

}


body.single-post,
body.single-event {

	article {
		clear: both;

		.article-header {
			text-align: center;
			padding: 50px 0 75px 0;

			.wrapper {
				max-width: 740px;
			}

			h1 {
				font-size: 3em;
				font-weight: bold;
				font-style: italic;
				color: $dark-blue;

				@include tablet-portrait {
					font-size: 4.375em;
				}
			}

			h4 {
				background: none;
				display: inline-block;
				border-bottom: 1px solid $red;
				padding: 0 0 10px 0;
				margin: 0 0 20px 0;
			}
		}

		.article-body {
			background: $tan;
			padding: 80px 0;
			width: 100%;
			float: left;

			.inset {
				padding: 20px 0;
				border-top: 1px solid rgba(185, 46, 37, 0.2);
				border-bottom: 1px solid rgba(185, 46, 37, 0.2);

				p {
					margin-bottom: 0;
				}
			}

			.wrapper {
				max-width: 740px;
			}

			.wrapper {

				& > p:first-of-type:first-letter {
					font-size: 3.5em;
					line-height: 1em;
					font-weight: 400;
					float: left;
					margin: 0.2em 0.2em 0 0;
					color: $red;
					font-family: $baroque;
				}

				& > p + p:first-letter {
					font-size: 1em;
					line-height: 1.25em;
					float: none;
					margin: 0;
					color: $slate;
					font-family: $cardea;
				}

			}



			.wp-caption {
				width: 100% !important;

				img {
					width: auto !important;
					height: auto !important;
				}

				p.wp-caption-text {
					font-size: 0.875em;
				    line-height: 1.5em;
				    font-family: "lato", sans-serif;
				    padding: 5px 0 35px 0;
				    text-align: center;
				    margin: 0;
				}
			}



		}

	}
}




body.page-template-artifacts {

	article {
		clear: both;

		.article-body {
			width: 100%;
			float: left;

			.artifact-image {
				padding: 30px 0 0 0;
				img {
					margin: 0 auto;
				}
			}

		}

	}
}