footer {
	background: $dark-blue;
	padding: 45px 0;
	clear: both;

	.logo {
		img {
			margin: 0 auto;			
		}
	}

	.fleur {
		padding: 30px 0;
	}

	.newsletter {
		padding: 0 0 40px 0;

		p {
			font-size: 1.125em;
			color: $white;
			text-align: center;
		}

		form {
			padding: 25px 0 0 0;
			margin: 0 auto;
			max-width: 550px;

			input[type="email"] {
				height: 50px;
				width: 70%;
				border: none;
				display: inline-block;
				background: $beige;
				font-family: $lato;
				color: $brown;
				font-size: 0.875em;
				margin: 0;
				padding: 10px 20px;
				float: left;
				-webkit-appearance: none;
				border-radius: 0;

				&::placeholder {
					color: rgba(68, 51, 37, 0.45);
				}

				@include tablet-portrait {
					width: 80%;
				}

				&:active, &:focus {
					outline: none;
				}
			}
			input[type="submit"] {
				border: none;
				width: 30%;
				height: 50px;
				display: inline-block;
				background: $red;
				color: $white;
				margin: 0;
				padding: 0;
				font-family: $lato;
				font-size: 1.125em;
				-webkit-appearance: none;
				border-radius: 0;
				
				@include tablet-portrait {
					width: 20%;
				}
				
				&:active, &:focus {
					outline: none;
				}
			}
		}

	}

	.footer-nav {
		text-align: center;

		@include tablet-landscape {
			display: flex;
			justify-content: center;
		}

		a {
			color: $white;
			font-family: $lato;
			font-size: 1.125em;
			padding: 10px 0;

			display: block;

			@include tablet-landscape {
				display: inline-block;
				padding: 0 12px;
			}
		}

		.social {
			padding: 50px 0 0 0;

			@include tablet-landscape {
				display: inline-block;
				padding: 0 0 0 70px;
			}

			a {
				width: 20px;
				height: 20px;
				padding: 0;
				display: inline-block;
				margin: 0 10px;

				&.instagram {
					background: url(images/instagram.svg) no-repeat 0 0;
					width: 20px;
				}
				&.facebook {
					background: url(images/facebook.svg) no-repeat 0 0;
					width: 21px;
				}
				&.twitter {
					background: url(images/twitter.svg) no-repeat 0 0;
					width: 23px;
				}

			}
		}
	}


}

#copyright {
	background: #1E2022;
	padding: 20px 0;
	text-align: center;

	p {
		font-family: $lato;
		font-size: 0.875em;
		color: $white;
	}
}