header {
	padding: 30px 0;

	.wrapper {
		display: flex;
		justify-content: space-between;
		max-width: 100%;

		padding: 0 25px;
	    transition: padding 0.2s ease-in;

	    @include tablet-portrait {
			padding: 0 50px;
	    }
	}

	.logo {
	
		&.desktop {
			display: none;
			max-width: 400px;

			@include mobile-landscape {
				display: block;
			}
		}
		&.mobile {
			max-width: 200px;

			@include mobile-landscape {
				display: none;
			}
		}
	}



	#toggle {
		width: 34px;
	    cursor: pointer;
	    padding: 8px 5px 8px 5px;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);

		.patty {
		    width: 24px;
		    height: 3px;
		    background: $red;
		    transition: all 0.3s;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 24px;
			    height: 3px;
			    background: $red;
			    position: absolute;
			    z-index: -1;
			    transition: all 0.3s;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}




}

nav {
	display: none;
	background: $tan;
	height: 100vh;
	max-height: 700px;


	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		max-height: 700px;
	}


	a {
		padding: 20px 0;
		display: block;
		font-size: 1.5em;

		@include tablet-portrait {
			font-size: 2em;
		}
	}


}