body#works-of-art {


	.grid-gallery {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.grid-asset {
			flex-basis: 48%;

			@include mobile-landscape {
				flex-basis: 31.3333%;
			}

			@include tablet-portrait {
				flex-basis: 24%;
			}
		}


	}



	#main-galleries,
	#topic-galleries {
		background: $tan;

		h2 {
			color: $brown;
			font-weight: bold;
			font-style: italic;
			font-size: 2.25em;
			padding: 0 0 30px 0;
		}
	}

	#main-galleries {
		padding: 100px 0;

		& .grid-gallery {
			border-bottom: 1px solid #9c9289;
			padding: 0 0 50px 0;

		}

		.asset {
			a.cover {
				display: block;
				width: 100%;
				height: 200px;
			}
		}
	}

	#topic-galleries { 
		padding: 0 0 100px 0;
	}



}