body#home {

	section#hero {
		padding: 50px 0;
		text-align: center;

		h1 {
			font-size: 2em;
			font-weight: bold;
			font-style: italic;

			@include tablet-portrait {
				font-size: 4.5em;
			}
		}

		.fleur {
			padding: 30px 0;
		}

		p {
			color: $blue;
			font-size: 1.25em;
			line-height: 1.375em;
			max-width: 760px;
			margin: 0 auto;

			@include tablet-portrait {
				font-size: 1.5em;
			}
		}

	}

	section#image {
		height: 400px;

		@include tablet-portrait {
			height: 500px;
		}

	}

	section#about {
		background: $beige;
		padding: 70px 0;
		text-align: center;

		.wrapper {
			max-width: 900px;
		}

		h4 {
			color: $red;
			font-size: 1.25em;
			font-style: italic;
			padding: 0 0 10px 0;
		}

		p {
			color: $brown;
			font-size: 1.375em;
			line-height: 1.4em;


			@include tablet-portrait {
				font-size: 1.775em;
			}
		}

		.btn {
			padding: 20px 0 0 0;
			a {
				background: $red;
				color: $white;
				display: inline-block;
				padding: 10px 20px;
			}
		}
	}



	section#explore {
		color: $white;
		padding: 70px 0;

		.wrapper {
			h4 {
				font-size: 1.125em;
				font-style: italic;
				padding: 20px 0 30px 0;
				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.58);

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}

			& > p {
				font-size: 1.5em;
				line-height: 1.25em;
				padding: 0 0 50px 0;
				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.58);

				@include tablet-portrait {
					font-size: 2.125em;
				}
			}
		}

		#features {
			background: $white;
			display: flex;
			padding: 10px 20px;
			flex-direction: column;

			@include tablet-landscape {
				flex-direction: row;
				padding: 30px 0;
			}

			.feature {
				display: flex;
				align-items: center;
				padding: 30px 0;
				border-bottom: 1px dotted $red;

				&:last-of-type {
					border-bottom: none;
				}


				@include tablet-landscape {
					padding: 0 20px;
					border-bottom: none;
					border-right: 1px dotted $red;

					&:last-of-type {
						border-right: none;
					}
				}

				.image {
					min-width: 120px;
				}

				.info {
					padding: 0 0 0 20px;

					h3 {
						color: $red;
						font-size: 1.375em;
						font-weight: bold;
						padding: 0 0 10px 0;
					}

					p {
						color: $dark-blue;
						font-size: 1em;
						line-height: 1.5em;
					}	
				}

			}
		}

	}


	section#galleries {
		background: $beige;
		padding: 100px 0;

		.header {
			text-align: center;
			padding: 0 0 40px 0;

			h4 {
				color: $red;
				font-size: 1.25em;
				font-style: italic;
				padding: 0 0 10px 0;
			}

			h2 {
				font-weight: bold;
				font-style: italic;
				font-size: 2.25em;
				color: $brown;
			}
		}

	}



	section#diary-links {
		background: $white;
		padding: 80px 0 120px 0;

		.header {
			text-align: center;
			padding: 0 0 40px 0;

			h2 {
				font-weight: bold;
				font-style: italic;
				font-size: 2.25em;
				color: $brown;
			}
		}

		.links {
			display: flex;
			width: 100%;
			justify-content: center;
			flex-wrap: wrap;

			a {
				width: 100%;
				margin: 0 0 20px 0;
				text-align: center;

				@include mobile-landscape {
					margin: 0 1.25% 20px 1.25%;
					max-width: 47.5%;
					padding: 12px 24px 14px 24px
				}

				@include tablet-landscape {
					max-width: 22.5%;
				}
			}
		}

	}



}