body.single-asset,
body.single-resource {

	#image {
		padding: 50px 0 60px 0;

		.thumbnail {
			display: table;
			margin: 0 auto;

		}

		.tab-links {
			display: flex;
			justify-content: center;
			padding: 40px 0 0 0;

			a.tab-link {
				padding: 0 10px;


				img {
					max-width: 96px;
					opacity: 0.5;
					border: 2px solid transparent;
				}

				&.active img {
					opacity: 1;
					border: 2px solid $slate;
				}
			}
		}

	}

	#details {
		padding: 100px 0;
		background: $tan;

		.wrapper {
			max-width: 740px;
		}

		h4 {
			color: $red;
			font-size: 1.25em;
			font-style: italic;
			padding: 0 0 0 22px;
			margin: 0 0 20px 0;
			background: url(images/fleur.svg) no-repeat left center;
			background-size: 16px 16px;
		}

		h1{
			color: $brown;
			font-weight: bold;
			font-style: italic;
			font-size: 2.25em;
			padding: 0 0 30px 0;
		}

		p {
			font-size: 1.25em;
			line-height: 1.6em;
			margin: 0 0 35px 0;
		}

		.vitals {
			padding: 40px 0 0 0;

			.attribute {
				display: flex;
				align-items: center;
				padding: 20px 0;
				border-bottom: 1px solid #bfb9b1;

				&:first-of-type {
					border-top: 1px solid #bfb9b1;
				}

				.key {
					font-family: $lato;
					font-weight: bold;
					color: $brown;
					font-size: 0.875em;
					width: 33.3333%;
					max-width: 140px;
				}

				.value {
					font-family: $lato;
					font-weight: normal;
					color: $brown;
					font-size: 0.875em;
				}


			}

		}


	}

}


#image, .image {

	#asset {

		.tab > a {
			display: table;
			margin: 0 auto;
			position: relative;

			.expand {
				position: absolute;
				right: 20px;
				bottom: 20px;
				background: url(images/expand.png) no-repeat 0 0;
				background-size: 100%;
			}
		}

		.modal {
			.zoomWrapper {
				width: 100% !important;
				height: 100% !important;
				display: flex;
				align-items: center;
				justify-content: center;
				background: $red;

				img {
					position: static !important;
				}
			}
		}
	}



	#gallery {
		.zoomWrapper {
			margin: 0 auto;
		}

		#asset {

			.tab {
				display: none;


				&.active {
					display: block;
				}
			}

		}

		#thumbnails {
			display: flex;
			justify-content: center;
			padding: 25px 0 0 0;

			@include tablet-portrait {
				padding: 50px 0 0 0;
			}

			a {
				padding: 0 10px;

				img {
					max-width: 64px;
					opacity: 0.5;
					border: 2px solid transparent;

					@include tablet-portrait {
						width: 96px;
					}
				}

				&.active img {
					opacity: 1;
					border: 2px solid $slate;
				}
			}
		}
	}


	.thumbnail {
		.expand {
			bottom: 20px;
			right: 20px;
			background-image: url(images/expand.png);
		}
	}

	.modal {
		display: none;
		width: 100%;
		height: 100vh;
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		background: $dark-blue;

		.image-viewer {
			display: flex;
			max-width: 100%;
			height: 100vh;
			justify-content: center;
			align-items: center;
			padding-top: 50px;

			figure {
				width: 100% !important;
			}
			.deepzoomContainer {
				background: transparent !important;
				margin: 0 auto;
			}



		}
		.close {
			top: 20px;
			right: 20px;
			background-image: url(images/close.png);
			z-index: 1000000;
		}
	}

	.expand, .close {
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		background-repeat: no-repeat;
		background-position: 0 0;
		text-indent: -99999px;
		background-size: 100%;

		@include tablet-portrait {
			width: 40px;
			height: 40px;
		}
	}



}
.zoomContainer {
	z-index: 100;
	overflow: hidden;
}
.zoomLens {
	border: 4px solid $slate !important;
}

body.single-resource {

	#details {
		padding: 50px 0;
	}

}