body {
	background: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
    transition: padding 0.2s ease-in;

    @include tablet-portrait {
		padding: 0 50px;
    }

	@media screen and (min-width: 1260px) {
		padding: 0;
	}
}


.fleur {
	max-width: 24px;
	margin: 0 auto;
}

.cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


.grid-sizer,
.gallery .asset {
	width: 100%;

	@include mobile-landscape {
		width: 47.5%;
	}

	@include tablet-portrait {
		width: 31.3333%;
	}
}

.gutter-sizer {
	width: 0;

	@include mobile-landscape {
		width: 5%;
	}

	@include tablet-portrait {
		width: 3.0005%;
	}
}

.asset {
	margin: 0 0 40px 0;

	img {
	}

	.caption {
		padding: 15px 0 0 0;

		p {
			line-height: 1.25em;
		}

		p, p a {
			color: $dark-blue;
		}

		p a:hover {
			color: $red;
		}
	}
}

#hero.inner {
	text-align: center;
	padding: 50px 0 50px 0;

	h4 {
		color: $red;
		font-style: italic;
		font-size: 1.25em;
		display: inline-block;
		border-bottom: 1px solid $red;
		padding: 0 0 10px 0;
	}

	h1 {
		font-size: 2.5em;
		font-weight: bold;
		font-style: italic;
		padding: 10px 0;

		@include tablet-portrait {
			font-size: 4.125em;
		}
	}

	p {
		color: $blue;
		font-size: 1.25em;
		line-height: 1.375em;
		max-width: 920px;
		margin: 0 auto;

		@include tablet-portrait {
			font-size: 1.5em;
		}
	}


}


article {

	.article-header {
		h4 {
			color: $red;
			font-size: 1.25em;
			font-style: italic;
			padding: 0 0 20px 36px;
			background: url(images/fleur.svg) no-repeat 0 0;
			line-height: 1em;
		}
		h2 {
			font-weight: bold;
			font-style: italic;
			font-size: 2.25em;
			padding: 0 0 35px 0;

			a {
				color: $brown;
				text-decoration: none;

				&:hover {
					color: $red;
				}
			}
		}

	}

	.article-body {
		clear: both;
	}

	section.art + .article-body {
		padding-top: 80px;
	}


	p {
		font-size: 1.25em;
		line-height: 1.6em;
		margin: 0 0 35px 0;
	}

	img.alignnone {
		margin: 0 0 35px 0;
	}

	a {
		color: $red;
		text-decoration: underline;
	}

	.asset {
		border-top: 1px solid $red;
		padding: 20px 0;
		border-bottom: 1px solid $red;

		@include mobile-landscape {
			border-bottom: none;
			border-top: none;
			padding: 0;

			max-width: 33.3333%;

			&.right {
				float: right;
				margin: 0 0 20px 30px;
			}

			&.left {
				float: left;
				margin: 0 30px 20px 0;
			}

		}

		&.full-width {
			max-width: 100%;
			border: none;
			padding: 0;

			.caption {

				h4 {
					font-style: italic;
				}
			}
		}

		.caption {
			h4 {
				padding: 0 0 5px 0;
				a {
					color: $dark-blue;
				}
			}
			p {
				font-size: 0.875em;
				line-height: 1.5em;
				font-family: $lato;
				padding: 0 0 10px 0;
				margin: 0;
			}

			a {
				text-decoration: none;

				&.more {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-family: $lato;
					font-weight: 100;
					font-size: 0.75em;
				}
			}
			
		}
	}


	.inset.right,
	.inset.left {
		border-top: 1px solid $red;
		padding: 20px 0;
		border-bottom: 1px solid $red;
	}
}





#pagination {
	background: $beige;
	padding: 15px 0;
	clear: both;

	.wrapper {
		max-width: 1120px !important;
	}

	#pagination-links {
		display: flex;

		a {
			width: 45%;
			max-width: 450px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: $white;
			padding: 20px;

			@include tablet-portrait {
				padding: 30px;
			}


			&.prev {
				background: $brown url(images/prev.png) no-repeat center left 10px;
				text-align: right;
				&:hover {
					background-color: $red;
				}

				.deck {
					margin-left: auto;
				}

				@include tablet-portrait {
					background-position: center left 30px;
				}

			}

			&.next {
				margin-left: auto;
				background: $brown url(images/next.png) no-repeat center right 10px;

				&:hover {
					background-color: $red;
				}

				@include tablet-portrait {
					background-position: center right 30px;
				}
			}

			.title {
				font-size: 1em;
				display: block;
				padding: 0 0 5px 0;

				@include tablet-portrait {
					font-size: 1.25em;
				}
				

			}

			.deck {
				font-family: $lato;
				font-size: 0.8125em;
				line-height: 1.5em;
				display: none;

				@include tablet-portrait {
					display: block;
					max-width: 200px;
				}

				@include tablet-landscape {
					max-width: 300px;
				}
				
			}



		}
	}
}

body.page-template-generic {

	.article-body {
		padding: 100px 0;
		background: $tan;

		.wrapper {
			max-width: 740px;

			& > p:first-of-type:first-letter {
				font-size: 3.5em;
				line-height: 1em;
				font-weight: 400;
				float: left;
				margin: 0.2em 0.2em 0 0;
				color: $red;
				font-family: $baroque;
			}

			& > p + p:first-letter {
				font-size: 1em;
				line-height: 1.25em;
				float: none;
				margin: 0;
				color: $slate;
				font-family: $cardea;
			}

			p {
				font-size: 1.25em;
				line-height: 1.6em;
				margin: 0 0 35px 0;
			}

			h2 {
				font-weight: bold;
				font-style: italic;
				font-size: 1.75em;
				padding: 20px 0 10px 0;
			}

		}
	}

}

.art {
	background: $dark-blue;
	color: $white;
	padding: 60px 0;
	width: 100%;
	float: left;

	&-header {
		max-width: 740px;
		margin: 0 auto 60px auto;
		padding: 0 25px;

	    @include tablet-portrait {
			padding: 0;
	    }

	    h4 {
	    	font-style: italic;
	    	padding: 0 0 10px 0;
	    	font-size: 1.25em;
	    }

	    h2 {
	    	font-size: 2em;
	    	font-weight: bold;
	    	padding: 0 0 20px 0;
	    }

	   	p {
	   		font-size: 1.125em;
	   		line-height: 1.5em;
	   		margin: 0 0 20px 0;
	   	}

	   	a.explore {
	   		display: inline-block;
	   		background: $tan;
	   		color: $dark-blue;
	   		text-decoration: none;
	   		padding: 15px 25px;
	   		font-family: $lato;
	   		font-weight: bold;

	   		@include desktop {
	   			position: absolute;
	   			right: -200px;
	   			bottom: 30px;
	   		}
	   	}


	}

	&-body {

	}

	.asset {
		max-width: none;
		margin: 0 10px;
		border: none;
		padding: 0;

		img {
			width: auto;
			height: 320px;

		}
	}
}