html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea {
	color: $slate;
	font: 400 100%/1 $cardea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $cardea;
	font-weight: 400;
	line-height: 1.3em;
}

a {
	color: $red;
	transition: color 0.2s ease-in-out;
}

a.btn {
	background: $red;
	padding: 12px 48px 14px 48px;
	display: inline-block;
	color: $white;
	font-family: $lato;
}