/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2a2a2a;
$yellow: #ffff1b;

$red: #b92e25;
$tan: #f6f4ee;
$beige: #e8e3d4;
$brown: #50341e;
$blue: #556172;
$dark-blue: #27292c;

/* Typography
----------------------------------*/
$baroque: "baroque-text-jf", serif;
$cardea: "cardea", serif;
$lato: "lato", sans-serif;